{% extends 'TrismegisteWamBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - run{% endblock %}

{% block content %}

<h1>Inference</h1>

<div class="block-demo">

   <div class="console">
   <form action="{{ path('_wam') }}" method="POST" id="console_form">
        {{ form_errors(form) }}

        {{ form_row(form.program) }}
        {{ form_row(form.query) }}

        {{ form_rest(form) }}
        <input type="submit" value="Query" class="symfony-button-grey" />
    </form>
    </div>

    <div class="output-block">
        <table>
        <tr><th>?</th><th>op</th><th>back</th><th>ms</th><th>var</th></tr>
        {% for row in output %}
        <tr>
            <td>{% if row.succeed %}success{% else %}fail{% endif %}</td>
            <td>{{ row.opCount }}</td>
            <td>{{ row.backtrackCount }}</td>
            <td>{{ (1000 * row.elapsedTime)|number_format(0) }}</td>
            {% for key, val in row.getQueryVars() %}
                <td>{{ key }} = {{ val }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        <table>
    </div>

</div>

{% endblock %}
